#!/bin/sh

set -e

action=$1
version=$2

. /usr/share/debconf/confmodule

# Get the values from the config file
if [ -r /etc/xcp/network.conf ] ; then
	NETWORK_TYPE=`cat /etc/xcp/network.conf`

	# Make sure we have a working value
	# (eg: bridge or openvswitch, and nothing else)
	if ! [ "${NETWORK_TYPE}" = "bridge" ] ; then
		NETWORK_TYPE="openvswitch"
	fi

	db_set xcp-xapi/networking_type ${NETWORK_TYPE}
fi
db_input high xcp-xapi/networking_type || true
db_go

exit 0;
